.container{
    display: flex;
    flex: 1;
    .main_wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        flex-direction: column;
    }
}